
[Unit]
Description=TPG to CHORDS Service
After=network.target
StartLimitIntervalSec=0

[Service]
User=pi
Restart=always
RestartSec=5
Type=simple
WorkingDirectory=/home/pi/tpg
ExecStart=/usr/bin/python3 /home/pi/tpg/tpgtochords.py /home/pi/tpg/tpg-mtnking.json

[Install]
WantedBy=multi-user.target
